[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
python-jose = "*"
flask-cors = "*"
six = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
psycopg2-binary = "*"
requests = "*"
gunicorn = "*"
flask-redis = "*"
redis = "*"
pylint = "*"
flask-restful = "*"

[requires]
python_version = "3.8"
